@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 100%;
}

.project a {
	text-decoration: none;
}

.project:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 30px;
	margin: 8px;
	
}

.project-logo-wrap {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 10px;
}
.project-logo {
	width: 30px;
	align-self: center;
	text-align: center;
}

.project-logo img {
	width: 100%;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
}

.project-description {
	color: var(--secondary-color);
	margin-top:15px;
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-section {
	display: flex;
	align-items: left;
}

.project-link-icon {
	color: var(--secondary-color);
	font-size: 13px;
}

.project-link-text {
	color: var(--secondary-color);
	padding-left: 25px;
	font-weight: 700;
	font-size:13px;
	margin-top:-22px;
}



.project-thumb{
	height: 125px;
	display: block;
	width: audo;
	max-width: 100%;
	background-size: cover;
	background-position: cemter center;
	overflow:hiddenl
	             
}
.project-thumb-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.project-linkurl{
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.projecct-thumb{
	padding-top: 10px;
	height:160px;
	width:225px;
}

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
